@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-main-rgb: 249, 244, 226;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-main-rgb: 29, 33, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-main-rgb));
}
